<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DatesMgr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DatesMgr.Properties.Settings>
            <setting name="AlertBefore90Days" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlertBefore60Days" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlertBefore30Days" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDesktopShortcut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutomaticDeleteExpired" serializeAs="String">
                <value>False</value>
            </setting>
        </DatesMgr.Properties.Settings>
    </userSettings>
</configuration>